@purple: #652C90;
@grey: ##C6BFAE;
@dark-beige: rgb(198, 190, 173);
@light-beige: rgb(247, 242, 231);
@blue: rgb(39, 169, 225);

.purple {
    svg path { fill: @purple ; }
    svg polygon { fill: @purple; }
}

footer.row {
    margin-top: 0px;
    padding-top: 50px;
    display: none;
}

article {font-size: 14px;} 

#social {   margin-top: 60px; min-height: 300px; } 

.container.row.main { min-height: 500px; }

#copyright { margin-top: 20px; }



article ul {
    list-style: none !important;
    margin-bottom: 1rem;
    li:before {
        content: '.';
        margin-left: 1rem;
        margin-right: .3rem;
    }
}

#navigation {
    margin-top: 50px;
    .nav {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        font-family: Overlock;
    }
    .previous:before {
        font-size: 100px;
        font-weight: normal;
        font-style: normal;
        vertical-align: text-middle;
        position: relative;
        top: 20px;
        content: '<';
        margin-right: 5px;
    }
    .next {
        float:right;
    }
    .previous {
        float: left;
    }
    .next:after {
        font-size: 100px;
        font-weight: normal;
        font-style: normal;
        vertical-align: text-middle;
        position: relative;
        top: 20px;
        content: '>';
        margin-left: 5px;
    }
}

#primary-header {    
    .col.logo, .col.search {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .col.span_8 {
        width: 35%;
        margin-left: 30%;
    }
}


ul.primary-menu {
    li.selected {
        padding-top: 8px;
        line-height: 1.1;
        a {
            font-style: normal !important;
            text-align: center;
        }
    }
    li {
        padding-top: 18px;
        margin-right: 50px !important;
        text-align:center;
        svg {
            display: block;
            width: 32px;
            height: 32px;
        }
    }
}

.pedia {
    .selector {

        .item {
            float: left;
            width: (100%/6);
            border: 1px solid @dark-beige;
            background-color: @light-beige;

            svg {
                width: 90px;
                height: 90px;
                display: block;
                margin: 20px auto 10px auto;
            }
            
            a label {
                color: @blue;
                display: block;
                margin-bottom: 10px;
                text-transform: none;
                text-align: center;
                font-style: italic;
            }

            a:hover {
                label { color: @purple; }
                .purple;
            }
        }

        .item.active {
            .purple;
            a label { color: @purple ; }
        }
    }
    
    .row {
        margin-top: 30px;
        ul {
            list-style: none !important;
            li { 
                float: left; 
                width: (100%/3);
                text-align:center ;
            }
            
        }

        .notfound {
            font-style: italic;
            color: @dark-beige;
            text-align: center; 
        }
    }

}